.post-card {
     max-width: 40rem;
     padding: 1rem 1.25rem;
     border-radius: 5px;
     box-shadow: 0px 0px 2px 1px rgba(190, 140, 140, 0.25);
     display: flex;
     flex-direction: column;
     gap: 1rem;
     font-family: 'Poppins', 'sans-serif';
}

.post-body {
     margin: 1rem 0;
}

.comment-input-container {
     padding: 5px;
     border-radius: 5px;
     box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.comment-input {
     width: 100%;
     padding: 5px;
     background: #e5e5e5;
     border: none;
     font-family: 'Poppins', 'sans-serif';
     border-radius: inherit;
}

