.post-header {
     display: flex;
     align-items: center;
     width: 100%;
     font-size: 14px;
}

.username {
     font-weight: 600;
}

.user-avatar {
     width: 1.75rem;
     border-radius: 50%;
     margin-right: 10px;
}