.discussion-list {
     font-family: "Poppins", "sans-serif";
     max-width: 35rem;

}

.discussion-card {
     width: 100%;
     height: auto;
     padding: 1.5rem 2rem;
     display: flex;
     flex-direction: column;
     gap: 12px;
     border-radius: 5px;
     box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .25);
}

.discussion-item-heading {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.user-profile {
     display: flex;

}

.date {
     font-size: 14px;
}

.discussion-stats {
     display: flex;
}

.stats {
     align-self: flex-start;
     display: flex;
     align-items: center;
     font-size: 14px;
}

.stats-icon {
     height: 14px;
     margin-left: 10px;
}

.link {
     font-size: 14px;
     align-self: center;
     text-decoration: none;
}